.container 
 .row
  %h1= @topic.title 
  %br 
  .row 
   - @topic.bookmarks.each do |bookmark|  
    .col-sm-3 
     = render partial: 'bookmarks/bookmark', locals: { bookmark: bookmark  }
  %br 
  %br
   .btn-group 
    = link_to 'New Bookmark', new_topic_bookmark_path(@topic, @bookmark), class: 'btn btn-success'
    = link_to 'Delete Topic', @topic, method: :delete, class: 'btn btn-danger', data: {confirm:'Warning: All bookmarks associated with this topic will also be deleted. Are you sure you want to delete this topic?'} 
    = link_to 'Edit Topic', edit_topic_path(@topic), class: 'btn btn-info'